<h1>Create Shoe</h1>

<form action="/shoes" method="POST">
   
    <div class="form-group">
        <label for="shoebrand">Shoe Brand</label>
        <input type="text" class="form-control" name="name" id="shoebrand">
    </div>
    <div class="form-group">
        <label for="shoename">Shoe Name</label>
        <input type="text" class="form-control" name="category" id="shoename">
    </div>
    <div class="form-group">
        <label for="shoetype">Shoe Type</label>
        <input type="text" class="form-control" name="shoetype">
    </div>
    <div class="form-group">
        <label for="shoedesign">Shoe Design</label>
        <input type="text" class="form-control" name="shoedesign">
    </div>
    <div class="form-group">
        <label for="shoeweight">Shoe Weight</label>
        <input type="text" class="form-control" name="shoeweight">
    </div>


    <button type="submit">Submit</button>
</form>